@import url('https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-width: 1140px;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1rem;
}

header h1 button {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;
}

header nav ul li button {
    font-size: 1.2rem;
    color: white;
}

main section {
    padding: 5rem 0;
    font-family: Poppins, sans-serif;
}

main section.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
    background:
        linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 800%)),
        url('assets/me.jpg') center center;
    background-size: cover;
}

main section.intro h4 {
    font-size: 2rem;
}

main section.intro h2 {
    margin: 2rem 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 3px;
}

main section.intro h2 span::after {
    display: inline-block;
    width: 3px;
    height: 100%;
    content: '';
    background-color: white;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

main section.intro p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}

main section.intro button.download {
    padding: 1rem 2rem;
    margin-top: 3rem;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
}

main section.intro button.mouse {
    position: absolute;
    bottom: 1rem;
    font-size: 2rem;
    color: white;
    animation: up-down 1s ease-in-out infinite;
}

@keyframes up-down {
    0% {
        bottom: 1rem;
    }

    50% {
        bottom: 1.5rem;
    }

    100% {
        bottom: 1rem;
    }
}

main section.about div.heading {
    margin-bottom: 3rem;
}

main section.about div.heading h4 {
    font-size: 1.35rem;
    font-weight: 800;
    color: #ed4848;
}

main section.about div.heading h2 {
    font-size: 3.5rem;
    font-weight: 800;
}

main section.about article {
    display: flex;
}

main section.about article img {
    width: 50vw;
}

main section.about article div.text {
    padding: 0 2rem;
}

main section.about article div.text h3 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 700;
}

main section.about article div.text p {
    margin: 1rem 0;
    font-size: 1.15rem;
}

main section.about article div.text div.sns a {
    margin-right: 0.2rem;
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
}

main section.features div.heading {
    margin-bottom: 3rem;
}

main section.features div.heading h4 {
    font-size: 1.35rem;
    font-weight: 800;
    color: #ed4848;
}

main section.features div.heading h2 {
    font-size: 3.5rem;
    font-weight: 800;
}

main section.features article {
    display: flex;
    gap: 0 2rem;
}

main section.features article div.card {
    flex: 1;
    padding: 2rem;
    cursor: pointer;
    background: #fff;
}

main section.features article div.card div.icon {
    font-size: 2.5rem;
    color: #ff6a6a;
}

main section.features article div.card h3 {
    margin: 1rem 0;
    font-size: 2rem;
}

main section.features article div.card p {
    font-size: 1.15rem;
}

main div.background {
    height: 650px;
    background: url('assets/background.jpg') no-repeat fixed center center;
    background-size: cover;
}

main section.portfolio div.heading {
    margin-bottom: 3rem;
}

main section.portfolio div.heading h4 {
    font-size: 1.35rem;
    font-weight: 800;
    color: #ed4848;
}

main section.portfolio div.heading h2 {
    font-size: 3.5rem;
    font-weight: 800;
}

main section.portfolio article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

main section.portfolio article div.card {
    padding: 1rem;
    background: #f8f8f8;
    border: 1px solid #ccc;
}

main section.portfolio article div.card h3 {
    font-size: 1.75rem;
}

main section.portfolio article div.card strong {
    display: block;
    margin: 0.5rem 0;
    color: #ff6a6a;
}

main section.about article div.text h3 strong {
    color: #ed4848;
}

main section.features article div.card:hover {
    color: white;
    background-color: lightcoral;
    transition: 0.5s ease-in-out;
}

main section.features article div.card:hover div.icon {
    color: white;
    transition: 0.5s ease-in-out;
}
