@import url('https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css');

* {
    box-sizing: border-box;
}

body {
    min-width: 1140px;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

header {
    position: relative;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

header h1 button {
    font-size: 2rem;
    font-weight: bold;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;
}

header nav ul li button {
    font-size: 1.2rem;
}
